<div class="wrapper">
<h1>Checkout</h1>
</div>
<%= render 'items', :order => @order %>



<div class="modal">
  <label for="modal-1">
    <div class="modal-trigger">Click for Modal</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-fade-screen">
    <div class="modal-inner">
      <div class="modal-close" for="modal-1"></div>
        <%= form_for @order, :url => checkout_path do |f| %>
          <dl>
            <dt><%= f.label :first_name, 'Name' %></dt>
            <dd><%= f.text_field :first_name %> <%= f.text_field :last_name %></dd>

            <dt><%= f.label :billing_address1, 'Address' %></dt>
            <dd><%= f.text_field :billing_address1 %></dd>
            <dd><%= f.text_field :billing_address2 %></dd>
            <dd><%= f.text_field :billing_address3 %></dd>
            <dd><%= f.text_field :billing_address4 %></dd>
            <dt><%= f.label :billing_postcode, 'Post code' %></dt>
            <dd><%= f.text_field :billing_postcode %></dd>
            <dd><%= f.collection_select :billing_country_id, Shoppe::Country.ordered, :id, :name, :include_blank => true %></dd>

            <dt><%= f.label :email_address %></dt>
            <dd><%= f.text_field :email_address %></dd>

            <dt><%= f.label :phone_number %></dt>
            <dd><%= f.text_field :phone_number %></dd>

            <button><%= f.submit 'Continue' %></button>

          </dl>
        <% end %>
    </div>
  </div>
</div>







