<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<h1>Checkout</h1>
<%= render 'items', :order => @order %>

<h1 style='margin-bottom:10px;'>¿Quien lo envía?</h1>


<%= form_for @order, :url => checkout_path, :html => {:class => 'checkout disableable'} do |f| %>
  <%= f.error_messages %>
  <div class="customer">
    <%= field_set_tag do %>
      <dl>
        <dt>
          <%= f.label :name, "Nombre y apellidos" %>
        </dt>
        <dd class="name">
          <%= f.text_field :first_name, :placeholder => 'Nombre' %>
          <%= f.text_field :last_name, :placeholder => 'Apellidos' %>
        </dd>
      </dl>
        <dt>
          <%= f.label :email_address, 'Direccion de E-Mail', :class => 'req' %>
        </dt>
        <dd>
          <%= f.text_field :email_address, :placeholder => 'alguien@ejemplo.com' %>
        </dd>
      </dl>
      <dl>
        <dt>
          <%= f.label :phone_number, 'Your Contact Phone Number', :class => 'req' %>
        </dt>
        <dd>
          <%= f.text_field :phone_number, :placeholder => '676665544' %>
        </dd>
      </dl>
    <% end %>
    <%= field_set_tag do %>
      <dl>
        <dt>
          <%= f.label :billing_address1, "Direccion de la factura", :class => 'req' %>
        </dt>
        <dd>
          <%= f.text_field :billing_address1, :placeholder => "calle, numero y puerta" %>
        </dd>
        <dd>
          <%= f.text_field :billing_address3, :placeholder => "ciudad" %>
        </dd>
        <dd>
          <%= f.text_field :billing_address4, :placeholder => "Provincia" %>
        </dd>
        <dd>
          <%= f.text_field :billing_postcode, :placeholder => "46001", :class => 'postcode' %>
        </dd>
        <dd>
          <%= f.collection_select :billing_country_id, Shoppe::Country.ordered, :id, :name %>
        </dd>
        <dd>
          <%= f.check_box :separate_delivery_address %>
          <%= f.label :separate_delivery_address, "Deliver to a different address?" %>
        </dd>
      </dl>
      <dl class="delivery">
        <dt>
          <%= f.label :delivery_address1, "Delivery Address", :class => 'req' %>
        </dt>
        <dd>
          <%= f.text_field :delivery_name, :placeholder => "Deliver to (name/company)" %>
        </dd>
        <dd>
          <%= f.text_field :delivery_address1, :placeholder => "Line 1" %>
        </dd>
        <dd>
          <%= f.text_field :delivery_address3, :placeholder => "Town/City" %>
        </dd>
        <dd>
          <%= f.text_field :delivery_address4, :placeholder => "County" %>
        </dd>
        <dd>
          <%= f.text_field :delivery_postcode, :placeholder => "Postcode", :class => 'postcode' %>
        </dd>
        <dd>
          <%= f.collection_select :delivery_country_id, Shoppe::Country.ordered, :id, :name %>
        </dd>
      </dl>
    <% end %>

  </div>

  <h1>¿A quién se lo envías?</h1>
  <div class="customer">

  <dl>
    <dd class='notes'>
      <%= f.label :notes, "Mensaje que quieres que le demos" %>
      <%= f.text_area :notes, :placeholder => 'message', :height => 300  %>
    </dd>
  </dl>
  <%= field_set_tag do %>
      <dl>
        <dt>
          <%= f.label :name, "Nombre y apellidos" %>
        </dt>
        <dd class="name">
          <%= f.text_field :first_name, :placeholder => 'Nombre' %>
          <%= f.text_field :last_name, :placeholder => 'Apellidos' %>
        </dd>
      </dl>
        <dt>
          <%= f.label :email_address, 'Direccion de E-Mail', :class => 'req' %>
        </dt>
        <dd>
          <%= f.text_field :email_address, :placeholder => 'alguien@ejemplo.com' %>
        </dd>
      </dl>
      <dl>
        <dt>
          <%= f.label :phone_number, 'Your Contact Phone Number', :class => 'req' %>
        </dt>
        <dd>
          <%= f.text_field :phone_number, :placeholder => '676665544' %>
        </dd>
      </dl>
    <% end %>
    <%= field_set_tag do %>
      <dl>
        <dt>
          <%= f.label :billing_address1, "Lugar de la entrega", :class => 'req' %>
        </dt>
        <dd>
          <%= f.text_field :billing_address1, :placeholder => "calle, numero y puerta" %>
        </dd>
        <dd>
          <%= f.text_field :billing_address3, :placeholder => "ciudad" %>
        </dd>
        <dd>
          <%= f.text_field :billing_address4, :placeholder => "Provincia" %>
        </dd>
        <dd>
          <%= f.text_field :billing_postcode, :placeholder => "46001", :class => 'postcode' %>
        </dd>
       
        
      </dl>
      <% end %>

     

  <p class="submit">
    <%= f.submit "Continue to payment" %>
  </p>
<% end %>
</div>










