<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 


<div class="breadcrumb">
  <a href="javascript:void(0)">Products</a>
  <a href="javascript:void(0)">Category</a>
  <a href="javascript:void(0)"><%= "#{params[:key]}" %></a>
  <a href="javascript:void(0)"><%= "#{params[:value]}" %></a>
  <a href="javascript:void(0)">Five</a>
</div>
  


      <% @products.each do |product| %>

      
<% if product.default_image %>

     <div class="hover-tile-outer" style="background:url(<%= product.default_image.path %>);background-size: 100%;">

    <% else %>

    <div class="hover-tile-outer">
            

    <% end %>
       




      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible"></div>
        <div class="hover-tile hover-tile-hidden">






      <h4><%= link_to product.name, product_path(product.permalink) %></h4>
      
      <p><b>Price:</b> <%= number_to_currency product.price %></p>
      <p></p>
    
    </div>
  </div>
  </div>


    <% end %>
      
