   <% content_for :hero do %>
    <div class="hero">
  <div class="hero-inner">
    <a href="" class="hero-logo"><img src="http://www.atelierdelaflor.com/s/misc/logo.png?t=1429981871" alt="Logo Image"></a>
    <div class="hero-copy">
      <h1>la floristería online</h1>
      
    </div>
    </div>
    
  </div>
  <% end %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> 



<ul class="accordion-tabs-minimal">


  
<% @products.each do |category, products| %>
  <li class="tab-header-and-content">
    <a href="#" class="tab-link"><%= category.name %></a>
    <div class="tab-content">

      <% products.each do |product| %>

      
<% if product.default_image %>

     <div class="hover-tile-outer" style="background:url(<%= product.default_image.path %>);background-size: 100%;">

    <% else %>

    <div class="hover-tile-outer">
            

    <% end %>
       




      <div class="hover-tile-container">
        <div class="hover-tile hover-tile-visible"></div>
        <div class="hover-tile hover-tile-hidden">






      <h4><%= link_to product.name, product_path(product.permalink) %></h4>
      
      <p><b>Price:</b> <%= number_to_currency product.price %></p>
      <p></p>
    
    </div>
  </div>
  </div>


    <% end %>
      
    </div>
  </li>
  


  

    

<% end %>


</ul>





