<!DOCTYPE html>
<html>
<head>
  <title>Ateliershop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="under-nav">
  <nav class="mobile-nav">
    <ul>
      <li>
        <a href="/products/filter?key=Celebración&value=Cumpleaños">
          ¿Què puedo regalar?
        </a>
      </li>
      <li>
        <a href="/products/filter?key=Precio&value=más+de+50">
          ¿Cuánto quiero gastarme?
        </a>
      </li>
      <li>
        <a href="/">
          Ver todos los trabajos
        </a>
      </li>
      <li>
        <a href="/basket">
          Cesta
        </a>
      </li>
      <li>
        <a href="/checkout">
          Confirmar
        </a>
      </li>
      <li>
        <a href="/shoppe">
          Admin
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="page-wrap">
  <div class="active-click"><!-- overlay for click back to mobile --></div>
  
  <div class="mobile-top-bar">
    <div class="toggleMenu" >
      <!-- icon font button -->

    </div>
  </div>

  
  
  <div class="main">

    <%= yield :hero %>
  </div>
  

      <div class="wrapper no-sidebar">
  
<%= yield %>  
</div>
      
  









<script>
  function sticky_relocate() {
    var window_top = $(window).scrollTop();
    var div_top = $('#sticky-anchor').offset().top;
    if (window_top > div_top) {
        $('#sticky').addClass('stick');
    } else {
        $('#sticky').removeClass('stick');
    }
}

$(function () {
    $(window).scroll(sticky_relocate);
    sticky_relocate();
});
</script>










</body>
</html>
